# Server
PORT=5000

# Cloudinary — get these from https://console.cloudinary.com
CLOUDINARY_CLOUD_NAME=dpylyhlml
CLOUDINARY_API_KEY=137132261638991
CLOUDINARY_API_SECRET=Fga5w4l9Kvrfj-3gz9FLES5YtL8

VITE_SUPABASE_URL=https://pvlavdmvybylvutkmptl.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_5lYe1OhY2x8TY32U1EOtsg_hVPL8HT0